@import "tailwindcss";

/* Custom Font */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/Chunkfive-Ex.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Theme Config (Custom Font) */
@theme {
  --font-myfont: 'MyCustomFont', sans-serif;
}

/* Custom Utilities */
@layer utilities {

  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }

  .blob {
    position: absolute;
    border-radius: 9999px;
    filter: blur(80px);
    opacity: 0.6;
    animation: float 8s infinite ease-in-out alternate;
  }

  .ripple {
    position: absolute;
    border-radius: 9999px;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255,255,255,0.5);
  }
}

/* Keyframe Animation */
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes runAcross {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(110vw);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}